@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h1>To Do List</h1>
    <br>
    <p>Add New To Do</p>
    
    <form asp-controller = "Home" asp-action = "Index" method = "Post">
        <input type="text" placeholder = "To Do">
        <button type="submit">Submit To Do</button>
    </form>

    <section>
        <h3>Incomplete</h3>
    </section>

    <section>
        <h3>Complete</h3>
    </section>
</section>